<div class="card border-dark mb-3">
    <div class="card text-center">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header lead"><b><strong>Weather</strong></b></div>
        <div class="card-body">
          <img width="30%" height="50%" src="../assets/w.gif">
          <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
              <select (change)="getDatos()" [(ngModel)]="ciudad" class="custom-select">
                <option value="0">Seleccione una ciudad</option>
                <option value="3601783">San Pedro Sula</option>
                <option value="2643743">Londres</option>
                <option value="2968815">Paris</option>
                <option value="5128638">Nueva York</option>
                <option value="1850147">Tokyo</option>
                <option value="2147714">Sydney</option>
                <option value="3435910">Buenos Aires</option>
                <option value="3451190">Rio de Janeiro</option>
                <option value="2950158">Berlín</option>
                <option value="5601538">Moscú</option>
                <option value="292223">Dubai</option>

              </select>
            </div>
            <div class="col-4"></div>
          </div>
          <div class="container" style="width: 50%; height: 15%;  ">
            <div style="text-align:center">
              <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center ">Temperatura</th>
                    <th scope="col" style="text-align: center ">Humedad</th>
                    <th scope="col" style="text-align: center ">Temperatura Maxima</th>
                    <th scope="col" style="text-align: center ">Temperatura Minima</th>
                    <th scope="col" style="text-align: center ">Abundancia Nubes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-success" style="text-align: center ">{{temperatura | number :'.2'}}°</td>
                    <td class="text-success" style="text-align: center ">{{humedad}}%</td>
                    <td class="text-success" style="text-align: center ">{{tempMax | number :'.2'}}°</td>
                    <td class="text-success" style="text-align: center ">{{tempMin | number :'.2'}}°</td>
                    <td class="text-success" style="text-align: center ">{{nubes}}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <router-outlet></router-outlet> -->
          </div>
        </div>
      </div>
    </div>

